#button_container {
    margin: auto;
    width: 960px;
    text-align: center;
}

button {
    width: 170px;
    height: 40px;
    background-color: #84D1FA;
    border: none;
    color: #FFFFFF;
    font: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 10px;
}

button:hover {
    background-color: #9ADAFC;
}

#wrapper {
    overflow: auto;
    width: 960px;
    margin: auto;
}

.col {
    background-color: #FF9933;
    float: left;
    border: 1px solid white;
    border-radius: 10px;
}

.colNew {
    background-color: #84D1FA;
}

.new_row {
    clear: both;
}
